<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Imagens/icon_btt.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .dropbtn {
            background-color: transparent;
            color: white;
            padding: 11px;
            border: none;
        }

        .dropbtn:hover {
            background-color: transparent;
        }

        .dropbtn:hover > a {
            color: white;
        }

        .dropbtn > a {
            color: #999;
            font-size: 20px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 400px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            transform: translateX(-40%);
        }

            .dropdown-content a {
                color: black;
                padding: 16px 16px;
                text-decoration: none;
                display: inline-block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: flex; 
        }

        .navbar-right > li > a{
            font-size: 1.2rem !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @*Icone do menu*@
                <a href="@Url.Action("Index", "Home")" class="logoclass">
                    <img src="@Url.Content("~/Imagens/icon_btt.png")" id="logo" />
                    Freeride
                </a>


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    @* Replicar linha (Nome a aparecer, Nome View, Nome Pasta View) *@
                    @*<li>@Html.ActionLink("Produtos", "Index", "tbl_Produtos")</li>*@
                    <li><div class="dropdown">
                            <button class="dropbtn">@Html.ActionLink("Produtos", "Index", "tbl_Produtos")</button>
                             <div class="dropdown-content">
                                 @{foreach (FreerideMTB_Store.Models.tbl_Categoria cat in ViewBag.ListaCategoria)
                                      {
                                           <a href="/tbl_Produtos/?CatId=@cat.Id_cat">@cat.Nome</a>
                                     }
                                 }

                             </div>
                        </div></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     Replicar linha (Nome a aparecer, Nome View, Nome Pasta View) 
                    <li>@Html.ActionLink("Produtos", "Index", "tbl_Produtos")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
