@model FreerideMTB_Store.Models.tbl_Categoria

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_cat }) |
    @Html.ActionLink("Voltar", "Index")
</p>
