@model IEnumerable<FreerideMTB_Store.Models.tbl_Marca>

@{
    ViewBag.Title = "Freeride MTB Store";
}
<style>
    .table tr:hover:first-child {
        background: initial;
        cursor: default;
    }

    .table tr:hover {
        background: #f1f1f1;
        cursor: pointer;
    }
</style>
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.site)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href='@Url.Action("Details", new { id = item.Id })'">
        <td class="td_images">
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.site)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
