@{
    ViewBag.Title = "Criar Cargo";
}

<h2>Create Role</h2>
@Html.ActionLink("Ver cargos", "Index") | @Html.ActionLink("Gerir cargos", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Nome do Cargo
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Guardar" />
}