@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Editar Cargo";
}

<h2>Editar Cargo</h2>

@Html.ActionLink("Ver cargos", "Index") | @Html.ActionLink("Gerir cargos", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
        <div>
           Nome do Cargo
        </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Guardar" />
}