@model FreerideMTB_Store.Models.tbl_Sub_Categoria

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>tbl_Sub_Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_sub_cat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
