@model FreerideMTB_Store.Models.tbl_Produtos

@{
    ViewBag.Title = "Details";
}


<style>
    .firstRow {
        position: relative;
    }
    .firstRow > dt {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    /*.image_box {
       position:relative;
       width: 250px;
       height: 250px;
    }
    .image_box > img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }*/
    .scrollmenu {
        display: flex;
        overflow-x: auto;
        height: 50vh;
    }

    .scrollmenu > img {
        height: 100%;
        width: auto;
        object-fit: contain;
        margin: 0 20px;
    }
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    hr {
        margin-bottom: 0;
    }

    .content {
        
    }
    .left_container {
        float:left;
        width: 65%;
    }
    .descricao {
        margin: 2rem 0;
        font-size: 1.8rem;
    }
    .right_container {
       float:right;
       width: 30%;
       text-align: center;
       background: #eee;
       min-height: 50vh;
       padding: 2rem;
    }

    .preco {
        font-size: 4rem;
        color: #c51c00;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .stock {
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 3rem;
    }

    .product_details{
        margin-top: 1rem;
    }
    .product_details > label {
        float: left;
    }
    .product_details > span {
        float:right;
    }
    
    .title {
        /*padding-top: 2rem;*/
    }

</style>

<body>
    <h2 class="title">@Html.DisplayFor(model => model.Nome)</h2>
    <hr />

    <div class="content clearfix">
        <div class="left_container">
            <div class="firstRow">
                @{
                SelectList ListaImagensProduto = new SelectList(Model.tbl_Imagens, "Caminho", "TituloImg");
                }

                <div class="scrollmenu">

                    @foreach (var item in ListaImagensProduto)
                {

                    <img src="@item.Value">
                    @*<a class="image_box">

                    </a>*@

            }
                </div>
            </div>


            <div class="descricao">
                @*@Html.DisplayNameFor(model => model.Descricao)*@
                @Html.Raw(Model.Descricao)
            </div>
        </div>

        <div class="right_container">
            <div class="preco">
                @*@Html.DisplayNameFor(model => model.Preco)*@
                @Html.DisplayFor(model => model.Preco)
            </div>

            <div class="stock">
                @*@Html.DisplayNameFor(model => model.Stock)*@
                @{ if (Model.Stock == true)
                {
                    <label class="label label-success">Em Stock</label>
            }
            else
            {
                <label class="label label-danger">Sem Stock</label>
        }
                }
            </div>


            <div class="product_details peso clearfix">
                <label>@Html.DisplayNameFor(model => model.Peso)</label>
                @if (Model.Peso != null)
                {
                    <span>@Html.DisplayFor(modelItem => Model.Peso)Gr</span>
                }
            </div>


            <div class="product_details sku clearfix">
                <label>@Html.DisplayNameFor(model => model.SKU)</label>
                <span>@Html.DisplayFor(model => model.SKU)</span>
            </div>

            <div class="product_details categoria clearfix">
                <label>Categoria</label>
                <span>@Html.DisplayFor(model => model.tbl_Categoria.Nome)</span>
            </div>

            <div class="product_details sub_categoria clearfix">
                <label>Sub-Categoria</label>
                <span>@Html.DisplayFor(model => model.tbl_Sub_Categoria.Nome)</span>
            </div>

            <div class="product_details marca clearfix">
                <label>Marca</label>
                <span>@Html.DisplayFor(model => model.tbl_Marca.Nome)</span>
            </div>
        </div>
    </div>


    @if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Edit", new { id = Model.Id_produto })" class="btn btn-default">
            Editar
        </a>
    }

    <a href="@Url.Action("Index")" class="btn btn-default">
        Voltar
    </a>

    @*@Html.ActionLink("Voltar", "Index")*@

</body>
