@model FreerideMTB_Store.Models.tbl_Produtos

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Produto</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Categoria.Nome)
        </dd>

        <dt>
           Sub-Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Sub_Categoria.Nome)
        </dd>

        <dt>
            Nome do Produto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
           Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
           Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            Quantidade em Stock
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_produto }) |
    @Html.ActionLink("Voltar", "Index")
</p>
