@model FreerideMTB_Store.Models.tbl_Produtos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
           Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Categoria.Nome)
        </dd>

        <dt>
           Sub-Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Sub_Categoria.Nome)
        </dd>

        <dt>
            Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Marca.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_produto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
