@model FreerideMTB_Store.Models.tbl_Produtos

@{
    ViewBag.Title = "Freeride Editar produto";
}

<h2>Editar Produto</h2>

<style>
    .label2 {
        font-size: small;
        background-color: brown;
    }
    .scrollmenu {
        position: relative;
        max-height: 30vh;
        display: flex;
        overflow-x: auto;
    }
    .scrollmenu > a {
        position: relative;
        height: 100%;
        width: auto;
    }
    .scrollmenu > a > img {
        object-fit: contain;
    }
    .scrollmenu > a > input[type="checkbox"] {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .form-group > .col-md-10 > input {
        max-width: 100%;
    }

    .form-group > .col-md-10 > textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        padding: 6px 12px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
</style>

<body>
    @using (Html.BeginForm("Edit", "tbl_Produtos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_produto)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>







        @{
        SelectList ListaImagensProduto = new SelectList(Model.tbl_Imagens, "Caminho", "Id");
        }

        <div class="scrollmenu">

            @foreach (var item in ListaImagensProduto)
        {

            <a>
                <input type="checkbox" value="@item.Text" name="check" checked />
                <img src="@item.Value" width="250px" height="140px" style="margin:20px 15px">
            </a>
    }
        </div>
       <br />
        <div>
            <input type="file" name="file" id="file" multiple />
        </div>
        <br />







        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, "Preço", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Categoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sub_Categoria, "Sub-Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Sub_Categoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sub_Categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>

                    <label class="label label-success" style="font-size: small;">
                        Em Stock:@Html.RadioButton("stock", "true", new { @checked = true })
                    </label>

                    <label class="label2 label label-danger">
                        Sem Stock:@Html.RadioButton("stock", "false")
                    </label>


                    @*@Html.EditorFor(model => model.Stock)*@
                    @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" } })
                <p>(em gramas)</p>
                @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SKU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SKU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, "Marca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Marca", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="@Url.Action("Details", new { id = Model.Id_produto })" class="btn btn-default">
                    Cancelar
                </a>
            </div>
        </div>
    </div>
    }
</body>
