@model IEnumerable<FreerideMTB_Store.Models.tbl_Produtos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "tbl_Produtos", FormMethod.Get, new { id = "TheForm" }))
{

    <p>
        Categorias @Html.DropDownList("CatId", (new SelectList(ViewBag.ListaCategorias, "id_cat", "Nome")), "", new { onchange = "document.getElementById('TheForm').submit();" })

    </p>


}

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Descrição
        </th>
        <th>
            Preço
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            Categoria
        </th>
        <th>
            Sub Categoria
        </th>
        <th>
            Marca
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>


                @{IEnumerable<FreerideMTB_Store.Models.tbl_Imagens> temp = ViewBag.ListaImagens;

                    IEnumerable<FreerideMTB_Store.Models.tbl_Imagens> Linha = temp.Where(c => c.tbl_Produtos.Any(x => x.Id_produto == item.Id_produto)).Take(1);
                    string a = (String)Linha.Select(x => x.Caminho).FirstOrDefault();

                    <img src="@a" width="40px" height="40px">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Sub_Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Marca.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_produto }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_produto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_produto })
            </td>
        </tr>
    }

</table>
