@model IEnumerable<FreerideMTB_Store.Models.tbl_ProdutoEncomenda>

@{
    ViewBag.Title = "FreeRide Produtos Encomendas";
}


<style>
    .td_images {
        position: relative;
        padding: 1rem;
        transition: transform .2s;
    }

        .td_images > img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

    /*.td_images:hover {
            position: absolute;
            left: 20%;
            -webkit-transform: scale(1.2);
            transform: scale(2.5);
            max-width: 300px;
        }*/
    .table tr:hover:first-child {
        background: initial;
        cursor: default;
    }

    .table tr:hover {
        background: #f1f1f1;
        cursor: pointer;
    }
</style>
<h2>Produto Encomenda</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <label class="btn btn-default">
            @Html.ActionLink("Criar novo", "Create")
        </label>


    </p>
}

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Encomenda.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Produtos.Nome)
        </th>
        <th></th>
    </trstyle="padding-top:80px;">

    @foreach (var item in Model)
    {
        <tr onclick="location.href='@Url.Action("Details", new { id = item.Id_produto })'">
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Encomenda.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Produtos.Nome)
            </td>
            <td>

                @if (User.IsInRole("Admin"))
    {
            <text>@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | </text>
            <text>@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | </text>
            <text>@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) </text>
}
            </td>
        </tr>
    }

</table>
