@model FreerideMTB_Store.Models.tbl_Marca

@{
    ViewBag.Title = "Marcas";
}

<h2>Marcas</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.site)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
